/********************************
* custom styles
*********************************/

/* file, symbols popup window  */
.quick-input-widget {
  width: 70% !important;
  margin-top: 250px;
  margin-left: auto !important;
  margin-right: auto !important;
  left: 10%;
  border-radius: 0;
  background: #000 !important;
  border: 1px solid #ddd !important;
  box-shadow: 0 0 0 2px #8fbcbb !important;
}

/* text input box */
.monaco-inputbox > .ibwrapper > .input {
  font-size: 18px;
  font-family: "JetBrains Mono";
  border-bottom: 1px solid #fff;
}

.monaco-findInput .monaco-inputbox {
  width: 100%;
}

/* input field :focus */
.monaco-workbench .synthetic-focus,
/* .monaco-workbench [tabindex="-1"]:focus, */
.monaco-workbench button:focus,
.monaco-workbench input[type="button"]:focus,
.monaco-workbench input[type="checkbox"]:focus,
.monaco-workbench input[type="search"]:focus,
.monaco-workbench input[type="text"]:focus,
.monaco-workbench select:focus,
.monaco-workbench textarea:focus {
  outline: none;
  border-bottom: 2px solid #8fbcbb;
  padding: 1px;
}

/* scrollable list in window */
.quick-input-list .monaco-scrollable-element {
  font-size: 15px;
  font-family: "JetBrains Mono";
}

/* scrollable list */
.monaco-list > .monaco-scrollable-element {
  font-family: "JetBrains Mono";
}

/* container for main window and status bar */
.monaco-split-view2 > .monaco-scrollable-element > .split-view-container {
  /* display: grid; */
  margin-top: 12px;
}

/* main window position */
.split-view-view:nth-of-type(3) {
  /* top: 22px !important; */
}

/* status bar position */
.split-view-view:nth-of-type(4) {
  top: 5px !important;
}

/* sidebar position */
div#workbench\.parts\.sidebar {
  padding-top: 23px;
}

/* font size in status bar */
.monaco-workbench .part.statusbar {
  font-size: 16px;
}

/* container for background image on main page  */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .editor-group-watermark {
  max-width: none;
  justify-content: center;
  align-items: center;
}

/* font color on main page */
.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .editor-group-watermark
  > .shortcuts
  dl {
  color: #8fbcbb;
}

/* shortcuts font color on main page */
.monaco-keybinding {
  color: #fff !important;
}

/* notification center */
.monaco-workbench > .notifications-center.visible {
  border: none !important;
  box-shadow: none !important;
}

/* position of notification center */
.monaco-workbench > .notifications-center {
  top: 31px;
  bottom: 0;
  border-radius: 0;
}

/* border around notification center */
.monaco-workbench > .notifications-center > .notifications-center-header {
  border: 1px solid #fff;
}

/* text color in notification center */
.monaco-workbench
  > .notifications-center
  > .notifications-center-header
  > .notifications-center-header-title {
  color: #fff !important;
  font-size: 14px;
}

/* close button in notification center */
.codicon-notifications-hide:before {
  content: "\ea76" !important;
  font-family: "codicon" !important;
}

/* notification toast */
.monaco-workbench > .notifications-toasts {
  top: 26px;
  bottom: 0;
}

/* notification list */
.monaco-workbench .notifications-list-container {
  background: transparent !important;
}

/* background for scrollable list */
.monaco-list-rows {
  background: transparent !important;
  min-height: 180px;
}

/* item in notification center */
.notifications-list-container .monaco-list-row {
  border: 1px solid #fff;
  height: auto !important;
  background: #000 !important;
}

.monaco-drag-image,
.monaco-list.list_id_4:focus .monaco-list-row.focused {
  outline: none;
}

/* notification item open */
.monaco-workbench .notifications-list-container .notification-list-item {
  height: auto;
}

/* text in notification item */
.monaco-workbench
  .notifications-list-container
  .notification-list-item.expanded
  .notification-list-item-message {
  font-size: 15px;
}

/* comments */
.mtki {
  color: #a3a3a3 !important;
}

/* font in tabs & statusbar */
.linux {
  font-family: "JetBrains Mono";
  background: #16161f !important;
}

/* margin between icons in statusbar */
.monaco-workbench
  .part.statusbar
  > .items-container
  > .statusbar-item
  span.codicon {
  margin-left: 4px;
}

.monaco-workbench
  .part.statusbar
  > .items-container
  > .statusbar-item
  > .statusbar-item-label {
  white-space: initial !important;
}

/* font size in settings and side menu */
.monaco-workbench .part > .content {
  font-size: 15px;
}

/* git colors*/
.monaco-workbench {
  --vscode-gitDecoration-modifiedResourceForeground: #8ee1e1 !important;
  --vscode-gitDecoration-untrackedResourceForeground: #89d185 !important;
  --vscode-gitDecoration-ignoredResourceForeground: #8c8c8c !important;
  /* background: #16161f !important; */
}

/* icon size in sidebar */
/*.monaco-action-bar .action-label {
   width: 16px !important; height: 16px !important; 
}*/

.monaco-workbench .monaco-list:not(.element-focused):focus:before {
  outline: none !important;
}

/* bell icon next to prettier in statusbar  */
span.codicon.codicon-bell {
  margin-top: 6px !important;
}

/* statusbar focus */
.monaco-workbench .part.statusbar:focus {
  outline-color: #fbfbfb00 !important;
}

/* statusbar - first item on the left side */
.monaco-workbench
  .part.statusbar
  > .items-container
  > .statusbar-item
  > a.disabled {
  padding: 0 20px;
  color: white;
  width: 100%;
}

/* statusbar - items on right side */
.monaco-workbench .part.statusbar > .right-items {
  margin-top: 2px;
}

/* topbar menu - custom title bar */
.monaco-workbench .part.titlebar > .titlebar-container {
  top: calc(100vh - 28px);
  position: absolute;
  background: #16161f;
}

/* main page - custom shortcuts */
.watermark-box dl:nth-of-type(2) dt {
  position: relative;
  visibility: hidden;
}

.watermark-box dl:nth-of-type(2) dt:before {
  position: absolute;
  content: "Open File";
  width: 200px;
  height: 20px;
  visibility: visible;
  right: 0;
}

.watermark-box dl:nth-of-type(3) dt {
  position: relative;
  visibility: hidden;
}

.watermark-box dl:nth-of-type(3) dt:before {
  position: absolute;
  content: "Toggle Right Panel";
  width: 200px;
  height: 20px;
  visibility: visible;
  right: 0;
}

.watermark-box dl:nth-of-type(3) dd {
  position: relative;
  visibility: hidden;
}

.watermark-box dl:nth-of-type(3) dd:before {
  position: absolute;
  content: "CTRL + Alt + K";
  width: 170px;
  height: 20px;
  visibility: visible;
  left: 0;
  font-size: 11px;
  color: #fff;
  width: 150px;
  margin-left: 5px;
}

.watermark-box dl:nth-of-type(4) dt {
  position: relative;
  visibility: hidden;
}

.watermark-box dl:nth-of-type(4) dt:before {
  position: absolute;
  content: "Show Menu Bar";
  width: 200px;
  height: 20px;
  visibility: visible;
  right: 0;
}

.watermark-box dl:nth-of-type(4) dd {
  position: relative;
  visibility: hidden;
}

.watermark-box dl:nth-of-type(4) dd:before {
  position: absolute;
  content: "Alt";
  width: 170px;
  height: 20px;
  visibility: visible;
  left: 0;
  font-size: 11px;
  color: #fff;
  width: 150px;
  margin-left: 5px;
}

.watermark-box dl:nth-of-type(5) dt,
.watermark-box dl:nth-of-type(5) dd {
  display: none !important;
}

/* terminal position */
#terminal .split-view-container {
  margin-top: 0 !important;
}

.terminal-group {
  height: calc(100% - 32px) !important;
}








